*{
    font-family: sans-serif;
}


body {
    background-color: rgb(255, 255, 255);
}

.container-div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 12px;
    gap: 1rem;
}

.side-panel {
    background-color: rgb(21, 20, 47);
    color: white;
    padding-left: 30px;
    grid-column: 1/3;
    height: 70vh;
    width: 15%;
    border-radius: 5px;
    box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.24);
    margin-left: 10px;
    position: fixed;
    transform: translatey(20%);
}

.side-panel ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.side-panel ul li a:hover{
    color: rgb(175, 175, 175);
}

.side-panel ul li {
    padding: 15px 5px;
}

.navigation {
    background-color: rgb(255, 255, 255);
    grid-column: 1/13;
    text-align: center;
    position: sticky;
    top: 0;
    height: auto;
    padding: 20px;
    box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.24);
    z-index: 10;
}

.container {
    padding: 40px;
}

.float {
    display: flex;
    position: sticky;
}

.right-panel {
    height: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    grid-column: 3/13;
    border-radius: 5px;
    box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    margin-right: 10px;
}

.table-data {
    height: auto;
    grid-column: 3/13;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.secondsem, .firstsem {
    width: 100%;
    height: auto;
    padding: 30px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 24px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 1px 2px 24px -4px rgba(0, 0, 0, 0.43);
    box-shadow: 1px 2px 24px -4px rgba(0, 0, 0, 0.43);
    margin-bottom: 20px;
    margin-right: 10px;
}

#title {
    margin: 30px;
}

#title-heading {
    background-color: rgba(195, 195, 255, 0.751);
    width: 40%;
    padding: 7px;
    border-left: 5px solid blue;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.submit-btn {
    float: right;
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: left !important;
}